$container-width: 940px;

.clearfix:after{
    content: "";
    display: block;
    clear: both;
}

img{
    width: 100%;
    height: auto;
}

html,body{
    width: 100%;
    height: 100%;
}

body{
    font-family: 'ubuntu',Arial, Helvetica, sans-serif;
    font-size: 14px; // стандарты на большенстве проектов
    //line-height: 1.42; // стандарты на большенстве проектов
    -webkit-font-smoothing: antialiased; // данная команда на движках webkit делает сглаживание текста
    color: #222222;
    margin: 0;
}

.wrapper{
    overflow: hidden; // что бы за него не вылазили элемента и не появлялось горезонтального скрола
    // min-height: 100%;
    height: 100%;
    // min-width: $container-width + 20px; 
    position: relative;
}

.container{
    margin: 0 auto; // убираем маржины
    max-width: 80%; // ширина контента на странице
    // max-width: $container-width; // ширина контента на странице
    //width: $container-width; // ширина контента на странице
    height: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.maincontent{
    height: 100%;
    width: 100%;
    position: absolute;
    // transform: translate3d(0, 0, 0);
    top: 0;
    left: 0;
    transition: 1s;
    // overflow-x: auto;
}

.section{
    height: 100%;
    height: 100vh; // что бы размер секции всегда был на всю ширину экрана
    // min-height: 650px; // но не сжимался более чем на 650px
    // min-width: 960px;
}

h1, h2, h3, h4, h5, h6{
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal; // это нужно для того что бы независимо от того каким бы заголовком был сверстан блок он выглядел бы одинакого, если бы эти заголовки менялись, в случае если SEO спеуиалист поменяет заголовок с h2 на h3 наша верстка не поехала
}

.title_all{
    font-family: 'gagalin';
    font-size: 72px;
    color: #f9b43b;
}

.title_all-white{
    font-family: 'gagalin';
    font-size: 72px;
    color: #ffffff;
}

.title_all-black{
    font-family: 'gagalin';
    font-size: 72px;
    color: #343537;
}

ul{
    padding: 0;
    margin: 0;

    li{
        list-style: none;
    }
}

p{
    padding: 0;
    margin: 0;
}

// footer{
//     min-width: $container-width + 20px;
// }

*{ // * - это мы обращаемся ко всем элементам на сайте
    box-sizing: border-box; // что бы нам было удобнее верстать что бы не верстать падинги отдельные от ширины и так просто проще
}

.wibro:hover{
    animation: 0.09s tremor ease-out infinite; 
}

@keyframes tremor {
    0%, 25% {
        left: -1px;
        transform: translateX(-0.01%);
    }
    50%, 100% {
        left: 1px;
        transform: translateX(0.01%);
    }
}

.pulse{
    animation: pulse 2s infinite;
}

// @keyframes pulse {
//     0% {
//       box-shadow: 0 0 0 0 rgba(247, 247, 247, 0.4);
//     }
//     70% {
//         box-shadow: 0 0 0 10px rgba(247, 247, 247, 0);
//     }
//     100% {
//         box-shadow: 0 0 0 0 rgba(247, 247, 247, 0);
//     }
// }